
# /
/.vs
/bin
/RXPatch-bin
/Renegade X Launcher.v12.suo
/packages

# /RXPatch/
/RXPatch/bin
/RXPatch/obj

# /RXPatchLib/
/RXPatchLib/bin
/RXPatchLib/obj

# /RXPatchLibTest/
/RXPatchLibTest/bin
/RXPatchLibTest/obj

# /Renegade X Launcher/
/Renegade X Launcher/bin
/Renegade X Launcher/obj

