<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Renegade X Bootstrapper" Version="1.0.0.0" Manufacturer="Totem Arts" UpgradeCode="{1642B05B-B919-4B3E-99CD-520B7AFAFA07}">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="License.rtf"
        LogoFile="BootstrapperImages/Icon.png"
            />
    </BootstrapperApplicationRef>

    <Chain>
      <!--Main setup package-->
      <MsiPackage SourceFile="../Renegade X Installer/bin/Release/Renegade_X_Installer.msi"
                      Id="mainSetup"
                      Vital="yes"
                      DisplayInternalUI='yes'
                  />
      <!--Add redists-->
      <ExePackage SourceFile="redists/dotNetFx40_Full_setup.exe"
                      Id="dotNet40"
                      Vital="yes"
                  />


      <!-- .Net 4.0-->
      <!--<ExePackage SourceFile="redists/dotNetFx40_Full_setup.exe"
                      Id="dotNet40"
                      Vital="yes"
                  />-->
      <!--Direct X web installer-->
      <!--<ExePackage SourceFile="redists/directx_Jun2010_redist.exe"
                      Id="directXWeb"
                      Vital="yes"
                  />-->
      <!--C++ redistributable -->
     <!-- <ExePackage SourceFile="redists/vcredist_x86.exe"
                      Id="cppRedist"
                      Vital="yes"
                  />-->
      
		</Chain>
	</Bundle>
</Wix>