<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Renegade_X_Installer" Language="1033" Version="1.0.0.0" Manufacturer="Totem Arts" UpgradeCode="7491f5a4-2fd2-4190-9bb6-f65caea89da5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Renegade_X_Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RenegadeX">
          <Directory Id="InstallLocationLauncher" Name="Launcher"/>
          <Directory Id="InstallLocationEngine" Name="Engine"/>
          <Directory Id="InstallLocationUDKGame" Name="UDKGame"/>
          <Directory Id="InstallLocationBinaries" Name="Binaries"/>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent"> 
				<!-- TODO: Insert files, registry keys, and other resources here. -->

         <File Id="LauncherEXE" Name="Renegade X Launcher.exe" Source="Renegade X Launcher.exe" DiskId='1' Vital="yes">
           <!--<Shortcut Id='LauncherStartmenu' Directory='ProgramMenuDir' Name='Renegade X Launcher' Advertise='no' />-->
         </File>

         <File Id="FirstFLoorDLL" Name="FirstFloor.ModernUI.dll" Source="FirstFloor.ModernUI.dll" DiskId='1' Vital="yes"/>
         <File Id="NewtonsoftJsonDLL" Name="Newtonsoft.Json.dll" Source="Newtonsoft.Json.dll" DiskId='1' Vital="yes"/>
         <File Id="LauncherconfigCONFIG" Name="Renegade X Launcher.exe.config" Source="Renegade X Launcher.exe.config" DiskId='1' Vital="yes"/>
         <File Id="RXPatchLibDLL" Name="RXPatchLib.dll" Source="RXPatchLib.dll" DiskId='1' Vital="yes"/>
         <File Id="SteamAPIDLL" Name="SteamAPI.dll" Source="SteamAPI.dll" DiskId='1' Vital="yes"/>
         <File Id="CustomContentSeekerDLL" Name="CustomContentSeeker.dll" Source="CustomContentSeeker.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfDatagridDLL" Name="Xceed.Wpf.DataGrid.dll" Source="Xceed.Wpf.DataGrid.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfToolkitDLL" Name="Xceed.Wpf.Toolkit.dll" Source="Xceed.Wpf.Toolkit.dll" DiskId='1' Vital="yes"/>
         <File Id="xdelta32EXE" Name="xdelta3-3.0.8.x86-32.exe" Source="xdelta3-3.0.8.x86-32.exe" DiskId='1' Vital="yes"/>
         <File Id="xdelta64EXE" Name="xdelta3-3.0.8.x86-64.exe" Source="xdelta3-3.0.8.x86-64.exe" DiskId='1' Vital="yes"/>

       </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>