<?xml version="1.0" encoding="UTF-8"?>
<!--
WIX installer script for Renegade-X by Totem Arts
For blamage or help: Ask for Schmitz.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"> 

  <!--Define the product information-->
	<Product Id="*" 
           Name="Renegade X"
           Language="1033" 
           Version="0.5.6.0"
           Manufacturer="Totem Arts" 
           UpgradeCode="{74FC8E14-0C0B-42C8-86CF-565781E1A849}">
    
    
    
    <!--Define package information-->
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Manufacturer="Totem Arts"/>
    
    <!--Message when trying to install an older version of the launchersetup-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Property Id='REGISTERKEYENGINE'>
        <RegistrySearch Id='RegisterKeyEngineProp' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationEngine' Type='raw' />
    </Property>
    <Property Id='REGISTERKEYUDKGAME'>
        <RegistrySearch Id='RegisterKeyUDKGameProp' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationUDKGame' Type='raw' />
    </Property>
    <Property Id='REGISTERKEYBINARIES'>
        <RegistrySearch Id='RegisterKeyEngineBinaries' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationBinaries' Type='raw' />
    </Property>
    
    <!--Bool to determine if the setup files should be embedded in the msi, or be their own standalone cab files.-->
		<MediaTemplate EmbedCab="yes" />

    <!--Determine which features are going to be installed and what component belong to that feature-->
		<Feature Id="ProductFeature" Title="Renegade X" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMenuShortcut"/>
      
		</Feature>
    
    <!--Determine the install UI and reference (This is available in WIX itself)-->
    <UI>
       <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
       <UIRef Id="WixUI_InstallDir"/>
       <ProgressText Action="InstallDirectX">Installing DirectX 9.0c</ProgressText>
    </UI>

    <!--Determine the custom images used in the installer-->
    <WixVariable Id="WixUIDialogBmp" Value="SetupImages/Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="SetupImages/Dialog2.bmp" />
    
    <!--Include the license document-->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!--Determine the icon seen when checking programlist-->
    <Icon Id="SetupIcon" SourceFile="../Renegade X Launcher/Icon_Silver.ico"/>
    <Icon Id="Shortcut.ico" SourceFile="../Renegade X Launcher/Icon_Silver.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SetupIcon" />
  </Product>
  
  
  <!--Fragment that defines the folder structure of the installed product-->
  <Fragment>
    <!--Defines the folders this installer can use. CAPITOL folders are default Windows paths. Id=Handler to use within this document; Name=the actual name of the folder when created-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Renegade X">
          <Directory Id="InstallLocationLauncher" Name="Launcher">
          </Directory>
          <Directory Id="InstallLocationEngine" Name="Engine"/>
          <Directory Id="InstallLocationUDKGame" Name="UDKGame"/>
          <Directory Id="InstallLocationBinaries" Name="Binaries"/>	      
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Renegade X"/>
      </Directory>
    </Directory>   
  </Fragment>

  <!--Fragment containing most of the vital components-->
	<Fragment>
    <!--Main component group with all essentional files-->
		<ComponentGroup Id="ProductComponents" Directory="InstallLocationLauncher">
			<!--The productcomponens contains all the main Launcher files-->
			 <Component Id="ProductComponent" Guid="{74FC8E14-0C0B-42C8-86CF-565781E1A849}"> 
         <File Id="LauncherEXE" Name="Renegade X Launcher.exe" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe" DiskId='1' Vital="yes" >
           <Shortcut Id='LauncherStartmenu' Directory='DesktopFolder' Name='Renegade X Launcher' WorkingDirectory='InstallLocationLauncher' Advertise='yes' Icon='Shortcut.ico'/>
         </File>
         <File Id="FirstFLoorDLL" Name="FirstFloor.ModernUI.dll" Source="../Renegade X Launcher/bin/Release/FirstFloor.ModernUI.dll" DiskId='1' Vital="yes"/>
         <File Id="NewtonsoftJsonDLL" Name="Newtonsoft.Json.dll" Source="../Renegade X Launcher/bin/Release/Newtonsoft.Json.dll" DiskId='1' Vital="yes"/>
         <File Id="LauncherconfigCONFIG" Name="Renegade X Launcher.exe.config" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe.config" DiskId='1' Vital="yes"/>
         <File Id="RXPatchLibDLL" Name="RXPatchLib.dll" Source="../Renegade X Launcher/bin/Release/RXPatchLib.dll" DiskId='1' Vital="yes"/>
         <File Id="SteamAPIDLL" Name="SteamAPI.dll" Source="../Renegade X Launcher/bin/Release/SteamAPI.dll" DiskId='1' Vital="yes"/>
         <File Id="CustomContentSeekerDLL" Name="CustomContentSeeker.dll" Source="../Renegade X Launcher/bin/Release/CustomContentSeeker.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfDatagridDLL" Name="Xceed.Wpf.DataGrid.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.DataGrid.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfToolkitDLL" Name="Xceed.Wpf.Toolkit.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.Toolkit.dll" DiskId='1' Vital="yes"/>
         <File Id="xdelta32EXE" Name="xdelta3-3.0.8.x86-32.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.0.8.x86-32.exe" DiskId='1' Vital="yes"/>
         <File Id="xdelta64EXE" Name="xdelta3-3.0.8.x86-64.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.0.8.x86-64.exe" DiskId='1' Vital="yes"/>
        
         <!--Create the default UDK folders the Launcher can use to install the game-->
         <CreateFolder Directory="InstallLocationEngine"/>
         <CreateFolder Directory="InstallLocationUDKGame"/>
         <CreateFolder Directory="InstallLocationBinaries"/>

         <!--Set the registry keys for all the to be deleted folders -->
         <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationEngine" Type="string" Value="[InstallLocationEngine]" KeyPath="no"/>
         <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationUDKGame" Type="string" Value="[InstallLocationUDKGame]" KeyPath="no"/>
         <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationBinaries" Type="string" Value="[InstallLocationBinaries]" KeyPath="no"/>
         
         <!--Set the delete folders on uninstall(This will delete everything in them aswell thus uninstalling the game-->
         <util:RemoveFolderEx Id="RemoveLocationEngine" On="uninstall" Property="REGISTERKEYENGINE"/>
         <util:RemoveFolderEx Id="RemoveLocationUDKGame" On="uninstall" Property="REGISTERKEYUDKGAME"/>
         <util:RemoveFolderEx Id="RemoveLocationBinaries" On="uninstall" Property="REGISTERKEYBINARIES"/>
         <RemoveFolder Id="RemoveLocationRoot" Directory="INSTALLFOLDER" On="uninstall"/>
         
       </Component> 
      </ComponentGroup>
    </Fragment>

  <!--Fragment containing the start menu shortcut-->
  <Fragment>
    <ComponentGroup Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{2DDC576A-9D02-43D9-8AC8-6D890B4780C3}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Renegade X Launcher"
                  Description="Launcher for Renegade X"
                  Target="[#LauncherEXE]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"
                  Icon="SetupIcon"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup> 
  </Fragment>
</Wix>