<?xml version="1.0" encoding="UTF-8"?>
<!--
WIX installer script for Renegade-X by Totem Arts
For blamage or help: Ask for Schmitz.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"> 

  <!--Define the product information-->
	<Product Id="*" 
           Name="Renegade X"
           Language="1033" 
           Version="0.5.6.0"
           Manufacturer="Totem Arts" 
           UpgradeCode="{74FC8E14-0C0B-42C8-86CF-565781E1A849}">
    
    <!--Define package information-->
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Manufacturer="Totem Arts"/>
    
    <!--Message when trying to install an older version of the launchersetup-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <!--Bool to determine if the setup files should be embedded in the msi, or be their own standalone cab files.-->
		<MediaTemplate EmbedCab="yes" />

    <!--Determine which features are going to be installed and what component belong to that feature-->
		<Feature Id="ProductFeature" Title="Renegade X" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PreviewVidComponents" />  
      <ComponentGroupRef Id="StartMenuShortcut"/>
		</Feature>
    
    <!--Determine the install UI and reference (This is available in WIX itself)-->
    <UI>
       <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
       <UIRef Id="WixUI_InstallDir"/>
    </UI>

    <!--Determine the custom images used in the installer-->
    <WixVariable Id="WixUIDialogBmp" Value="SetupImages/Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="SetupImages/Dialog2.bmp" />
    
    <!--Determine the icon seen when checking programlist-->
    <Icon Id="SetupIcon" SourceFile="../Renegade X Launcher/Icon_Silver.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SetupIcon" />
  </Product>
  
  
  <!--Fragment that defines the folder structure of the installed product-->
  <Fragment>
    <!--Defines the folders this installer can use. CAPITOL folders are default Windows paths. Id=Handler to use within this document; Name=the actual name of the folder when created-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RenegadeXTest">
          <Directory Id="InstallLocationLauncher" Name="Launcher">
            <Directory Id="InstallLocationPreviewVids" Name="PreviewVids"/>
          </Directory>
          <Directory Id="InstallLocationEngine" Name="Engine"/>
          <Directory Id="InstallLocationUDKGame" Name="UDKGame"/>
          <Directory Id="InstallLocationBinaries" Name="Binaries"/>	      
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Renegade X Test"/>
      </Directory>
    </Directory>   
  </Fragment>

  <!--Fragment containing most of the vital components-->
	<Fragment>
    <!--Main component group with all essentional files-->
		<ComponentGroup Id="ProductComponents" Directory="InstallLocationLauncher">
			<!--The productcomponens contains all the main Launcher files-->
			 <Component Id="ProductComponent" Guid="{74FC8E14-0C0B-42C8-86CF-565781E1A849}"> 
         <File Id="LauncherEXE" Name="Renegade X Launcher.exe" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe" DiskId='1' Vital="yes" >
          <!-- <Shortcut Id='LauncherStartmenu' Directory='DesktopFolder' Name='Renegade X Launcher' WorkingDirectory='InstallLocationLauncher' Advertise='no' />-->
         </File>
         <File Id="FirstFLoorDLL" Name="FirstFloor.ModernUI.dll" Source="../Renegade X Launcher/bin/Release/FirstFloor.ModernUI.dll" DiskId='1' Vital="yes"/>
         <File Id="NewtonsoftJsonDLL" Name="Newtonsoft.Json.dll" Source="../Renegade X Launcher/bin/Release/Newtonsoft.Json.dll" DiskId='1' Vital="yes"/>
         <File Id="LauncherconfigCONFIG" Name="Renegade X Launcher.exe.config" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe.config" DiskId='1' Vital="yes"/>
         <File Id="RXPatchLibDLL" Name="RXPatchLib.dll" Source="../Renegade X Launcher/bin/Release/RXPatchLib.dll" DiskId='1' Vital="yes"/>
         <File Id="SteamAPIDLL" Name="SteamAPI.dll" Source="../Renegade X Launcher/bin/Release/SteamAPI.dll" DiskId='1' Vital="yes"/>
         <File Id="CustomContentSeekerDLL" Name="CustomContentSeeker.dll" Source="../Renegade X Launcher/bin/Release/CustomContentSeeker.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfDatagridDLL" Name="Xceed.Wpf.DataGrid.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.DataGrid.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfToolkitDLL" Name="Xceed.Wpf.Toolkit.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.Toolkit.dll" DiskId='1' Vital="yes"/>
         <File Id="xdelta32EXE" Name="xdelta3-3.0.8.x86-32.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.0.8.x86-32.exe" DiskId='1' Vital="yes"/>
         <File Id="xdelta64EXE" Name="xdelta3-3.0.8.x86-64.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.0.8.x86-64.exe" DiskId='1' Vital="yes"/>
        
         <!--Create the default UDK folders the Launcher can use to install the game-->
         <CreateFolder Directory="InstallLocationEngine"/>
         <CreateFolder Directory="InstallLocationUDKGame"/>
         <CreateFolder Directory="InstallLocationBinaries"/>

         <!--Set the registry keys for all the to be deleted folders -->
         <!--<RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationEngine" Type="string" Value="[InstallLocationEngine]" KeyPath="no"/>
         <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationUDKGame" Type="string" Value="[InstallLocationUDKGame]" KeyPath="no"/>
         <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationBinaries" Type="string" Value="[InstallLocationBinaries]" KeyPath="no"/>-->
         
         <!--<util:RemoveFolderEx Id="RemoveLocationEngine" On="uninstall" Property="InstallLocationEngine"/>
         <util:RemoveFolderEx Id="RemoveLocationUDKGame" On="uninstall" Property="InstallLocationUDKGame"/>
         <util:RemoveFolderEx Id="RemoveMajor" On="uninstall" Property="InstallLocationBinaries"/>-->

         
       </Component> 
      </ComponentGroup>
    </Fragment>

    <!--Fragment containing the videosthat the launcher uses-->
    <Fragment>  
      <ComponentGroup Id="PreviewVidComponents" Directory="InstallLocationPreviewVids">
        <Component Id ="PreviewVidComponent" Guid="{52C23DCC-81CD-4E12-A80B-49709267DE35}">
            <File Id="filDE5FF965729966CA817755E989A336AC"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-Canyon_day.wmv" />
            <File Id="filB8F2D3D0A25E74B7FF1EE53DDF9C1489"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-Canyon_Night.wmv" />
            <File Id="filB4B9BC9B120DF2E7BCC2262D749709E3"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-Eyes.wmv" />
            <File Id="fil4357957792A39EB9F9A2DF501CF67119"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-Field_Night.wmv" />
            <File Id="fil60E31EE406BFD517C8432B59EE7659F8"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-Mesa_ii_Day.wmv" />
            <File Id="filC7889386BDC36B2F963343E774C7118F"  Source="../Renegade X Launcher/bin/Release/PreviewVids/CNC-TrainingYard.wmv" />
            <File Id="filAB04BBFF815B9A768D19FF26F8D4F6B5"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Complex.wmv" />
            <File Id="fil0024C1A4C14CF1E978C34541C36090E0"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Default.wmv" />
            <File Id="fil37C91FFAA84EEA48A06F68B2A7011FB2"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Field-Day.wmv" />
            <File Id="fil3A9B20E4BDB01F0E4CF8F8098B1E0A0A"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Goldrush.wmv" />
            <File Id="fil62D49C9D810867164F3385EF451B8259"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Islands.wmv" />
            <File Id="fil37DD48CBFD5D708ABF3BAD435A46B594"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Lakeside.wmv" />
            <File Id="filDC03B708F18285330C05C3DB8692B271"  Source="../Renegade X Launcher/bin/Release/PreviewVids/MesaII.wmv" />
            <File Id="fil5C12BB44094BE1458C685CFEF4EA0CB1"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Under.wmv" />
            <File Id="fil10089D54447CF18EF4E9259133E01BCA"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Volcano.wmv" />
            <File Id="fil5C8F49521A37E3E72C3E4D9D4FE65B30"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Walls.wmv" />
            <File Id="fil051C5FF0DD8F39443058F1B939C51977"  Source="../Renegade X Launcher/bin/Release/PreviewVids/Whiteout.wmv" />
            <File Id="fil5FF21BCF13EECD0EED9DEEF0067F00FA"  Source="../Renegade X Launcher/bin/Release/PreviewVids/X-Mountain.wmv" />
        </Component>  
		  </ComponentGroup>
	</Fragment>

  <!--Fragment containing the start menu shortcut-->
  <Fragment>
    <ComponentGroup Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{2DDC576A-9D02-43D9-8AC8-6D890B4780C3}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Renegade X Launcher"
                  Description="Launcher for Renegade X"
                  Target="[#LauncherEXE]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"
                  Icon="SetupIcon"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup> 
  </Fragment>
  
</Wix>