<?xml version="1.0" encoding="UTF-8"?>
<!--
WIX installer script for Renegade-X by Totem Arts
For blamage or help: Ask for Schmitz.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"> 

  <!--Define the product information-->
	<Product Id="*" 
           Name="Renegade X Launcher (Beta)"
           Language="1033" 
           Version="0.8.0.1"
           Manufacturer="Totem Arts" 
           UpgradeCode="{2473E6A8-A59F-434D-B871-E18AE833400C}">

    <!--Define package information-->
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Manufacturer="Totem Arts"/>
    
    <!--Message when trying to install an older version of the launchersetup-->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Property Id='REGISTERKEYENGINE'>
        <RegistrySearch Id='RegisterKeyEngineProp' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationEngine' Type='raw' />
    </Property>
    <Property Id='REGISTERKEYUDKGAME'>
        <RegistrySearch Id='RegisterKeyUDKGameProp' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationUDKGame' Type='raw' />
    </Property>
    <Property Id='REGISTERKEYBINARIES'>
        <RegistrySearch Id='RegisterKeyEngineBinaries' Root='HKCU' Key='Software\Totem Arts\Renegade X' Name='InstallLocationBinaries' Type='raw' />
    </Property>
    
    <!--Bool to determine if the setup files should be embedded in the msi, or be their own standalone cab files.-->
		<MediaTemplate EmbedCab="yes" />

    <!--Determine which features are going to be installed and what component belong to that feature-->
		<Feature Id="ProductFeature" Title="Renegade X" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMenuShortcut"/>
      <ComponentGroupRef Id="Permissions"/>
      
		</Feature>
    
    <!--Determine the install UI and reference (This is available in WIX itself)-->
    <UI>
       <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
       <UIRef Id="WixUI_InstallDir"/>
       <ProgressText Action="InstallDirectX">Installing DirectX 9.0c</ProgressText>
    </UI>

    <!--Determine the custom images used in the installer-->
    <WixVariable Id="WixUIDialogBmp" Value="SetupImages/Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="SetupImages/Dialog2.bmp" />
    
    <!--Include the license document-->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!--Determine the icon seen when checking programlist-->
    <Icon Id="SetupIcon" SourceFile="../Renegade X Launcher/Icon_Silver.ico"/>
    <Icon Id="Shortcut.ico" SourceFile="../Renegade X Launcher/Icon_Silver.ico"/>
    <Property Id="ARPPRODUCTICON" Value="SetupIcon" />

    <!--
    ENABLE THIS TO ENABLE THE BETA LAUNCHER MESSAGE
	  <InstallUISequence>
	    <Show Dialog="QuestionDlg"
	          Before="ExecuteAction" />
	  </InstallUISequence>
    -->
  </Product>

  <!--Fragment that defines the folder structure of the installed product-->
  <Fragment>
    <!--
    ENABLE THIS TO ENABLE THE BETA LAUNCHER MESSAGE
    <UI>
      <Dialog Id="QuestionDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17"
                 Default="yes" Cancel="yes" Text="No">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="Yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30">
          <Text>You are installing a beta version of the RenegadeX Installer, this might break things.
Are you sure you want to continue?</Text>
        </Control>
      </Dialog>
    </UI>-->

    <!--Defines the folders this installer can use. CAPITOL folders are default Windows paths. Id=Handler to use within this document; Name=the actual name of the folder when created-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Renegade X">
          <!--<util:PermissionEx User="Users" GenericAll="yes"/>-->
          <Directory Id="InstallLocationLauncher" Name="Launcher">
          </Directory>
          <Directory Id="InstallLocationEngine" Name="Engine"/>
          <Directory Id="InstallLocationUDKGame" Name="UDKGame"/>
          <Directory Id="InstallLocationBinaries" Name="Binaries"/>	      
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Renegade X"/>
      </Directory>
    </Directory>   
  </Fragment>

  <!--Fragment containing most of the vital components-->
	<Fragment>
    <!--Main component group with all essentional files-->
		<ComponentGroup Id="ProductComponents" Directory="InstallLocationLauncher">
			<!--The productcomponens contains all the main Launcher files-->
			 <Component Id="ProductComponent" Guid="{14f49604-b3ef-4e23-b345-f2c0b7e37cc8}"> 
         <File Id="LauncherEXE" Name="Renegade X Launcher.exe" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe" DiskId='1' Vital="yes" >
           <Shortcut Id='LauncherStartmenu' Directory='DesktopFolder' Name='Renegade X Launcher' WorkingDirectory='InstallLocationLauncher' Advertise='yes' Icon='Shortcut.ico'/>
         </File>
         <File Id="FirstFLoorDLL" Name="FirstFloor.ModernUI.dll" Source="../Renegade X Launcher/bin/Release/FirstFloor.ModernUI.dll" DiskId='1' Vital="yes"/>
         <File Id="NewtonsoftJsonDLL" Name="Newtonsoft.Json.dll" Source="../Renegade X Launcher/bin/Release/Newtonsoft.Json.dll" DiskId='1' Vital="yes"/>
         <File Id="LauncherconfigCONFIG" Name="Renegade X Launcher.exe.config" Source="../Renegade X Launcher/bin/Release/Renegade X Launcher.exe.config" DiskId='1' Vital="yes"/>
         <File Id="RXPatchLibDLL" Name="RXPatchLib.dll" Source="../Renegade X Launcher/bin/Release/RXPatchLib.dll" DiskId='1' Vital="yes"/>
         <File Id="SteamAPIDLL" Name="SteamAPI.dll" Source="../Renegade X Launcher/bin/Release/SteamAPI.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfDatagridDLL" Name="Xceed.Wpf.DataGrid.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.DataGrid.dll" DiskId='1' Vital="yes"/>
         <File Id="XceedWpfToolkitDLL" Name="Xceed.Wpf.Toolkit.dll" Source="../Renegade X Launcher/bin/Release/Xceed.Wpf.Toolkit.dll" DiskId='1' Vital="yes"/>
			   <File Id="RxLogger" Name="RxLogger.dll" Source="../Renegade X Launcher/bin/Release/RxLogger.dll" DiskId='1' Vital="yes"/>
         <File Id="xdelta32EXE" Name="xdelta3-3.1.0-i686.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.1.0-i686.exe" DiskId='1' Vital="yes"/>
         <File Id="xdelta64EXE" Name="xdelta3-3.1.0-x86_64.exe" Source="../Renegade X Launcher/bin/Release/xdelta3-3.1.0-x86_64.exe" DiskId='1' Vital="yes"/>
        
         <!--Create the default UDK folders the Launcher can use to install the game-->
         <CreateFolder Directory="InstallLocationEngine"/>
         <CreateFolder Directory="InstallLocationUDKGame"/>
         <CreateFolder Directory="InstallLocationBinaries"/>

         <!--Set the registry keys for all the to be deleted folders -->
         <RegistryValue Root="HKMU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationEngine" Type="string" Value="[InstallLocationEngine]" KeyPath="no"/>
         <RegistryValue Root="HKMU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationUDKGame" Type="string" Value="[InstallLocationUDKGame]" KeyPath="no"/>
         <RegistryValue Root="HKMU" Key="Software\Totem Arts\Renegade X" Name="InstallLocationBinaries" Type="string" Value="[InstallLocationBinaries]" KeyPath="no"/>
         
         <!--Set the delete folders on uninstall(This will delete everything in them aswell thus uninstalling the game-->
         <util:RemoveFolderEx Id="RemoveLocationEngine" On="uninstall" Property="REGISTERKEYENGINE"/>
         <util:RemoveFolderEx Id="RemoveLocationUDKGame" On="uninstall" Property="REGISTERKEYUDKGAME"/>
         <util:RemoveFolderEx Id="RemoveLocationBinaries" On="uninstall" Property="REGISTERKEYBINARIES"/>
         <RemoveFolder Id="RemoveLocationRoot" Directory="INSTALLFOLDER" On="uninstall"/>
         
       </Component> 
      </ComponentGroup>
    </Fragment>

  <!--Fragment containing the start menu shortcut-->
  <Fragment>
    <ComponentGroup Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{90C715B6-9160-4888-9787-4E176BABFCAD}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Renegade X Launcher"
                  Description="Launcher for Renegade X"
                  Target="[#LauncherEXE]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"
                  Icon="SetupIcon"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Totem Arts\Renegade X" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup> 
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Permissions" Directory="INSTALLFOLDER">
      <Component Id="INSTALLFOLDER_Permission" Guid="{D005D14C-2580-4968-A25F-0297D004F647}">
            <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"/>
            </CreateFolder>
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>